### Todos os imports necessários

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score
from scipy.stats import bayes_mvs
from sklearn.ensemble import AdaBoostClassifier
from sklearn.multiclass import OneVsOneClassifier
from sklearn.svm import LinearSVC

##### Carregando o csv com os dados

In [7]:
# df = Data frame
df = pd.read_csv('haberman_csv.csv')
# exibindo os 5 primeiros resultados
df.head()

,Age_of_patient_at_time_of_operation,Patients_year_of_operation,Number_of_positive_axillary_nodes_detected,Survival_status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1

In [9]:
# Exibindo os 5 últimos
df.tail(5)

,Age_of_patient_at_time_of_operation,Patients_year_of_operation,Number_of_positive_axillary_nodes_detected,Survival_status
301,75,62,1,1
302,76,67,0,1
303,77,65,3,1
304,78,65,1,2
305,83,58,2,2

In [10]:
# Exibindo as informações sobre o data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 4 columns):
Age_of_patient_at_time_of_operation           306 non-null int64
Patients_year_of_operation                    306 non-null int64
Number_of_positive_axillary_nodes_detected    306 non-null int64
Survival_status                               306 non-null int64
dtypes: int64(4)
memory usage: 9.6 KB

In [12]:
# Exibindo a idade dos pacientes na data da cirurgia
df['Age_of_patient_at_time_of_operation']

0      30
1      30
2      30
3      31
4      31
5      33
6      33
7      34
8      34
9      34
10     34
11     34
12     34
13     34
14     35
15     35
16     36
17     36
18     37
19     37
20     37
21     37
22     37
23     37
24     38
25     38
26     38
27     38
28     38
29     38
       ..
276    67
277    67
278    67
279    68
280    68
281    69
282    69
283    69
284    69
285    70
286    70
287    70
288    70
289    70
290    70
291    70
292    71
293    72
294    72
295    72
296    72
297    73
298    73
299    74
300    74
301    75
302    76
303    77
304    78
305    83
Name: Age_of_patient_at_time_of_operation, Length: 306, dtype: int64

In [13]:
# Descrevendo os dados
df.describe()

,Age_of_patient_at_time_of_operation,Patients_year_of_operation,Number_of_positive_axillary_nodes_detected,Survival_status
count,306.000000,306.000000,306.000000,306.000000
mean,52.457516,62.852941,4.026144,1.264706
std,10.803452,3.249405,7.189654,0.441899
min,30.000000,58.000000,0.000000,1.000000
25%,44.000000,60.000000,0.000000,1.000000
50%,52.000000,63.000000,1.000000,1.000000
75%,60.750000,65.750000,4.000000,2.000000
max,83.000000,69.000000,52.000000,2.000000

In [15]:
# Exibindo todos os valores únicos para a idade dos pacientes
df['Age_of_patient_at_time_of_operation'].unique()

array([30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
       48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
       65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 83])

In [16]:
# Exibindo a menor idade
df['Age_of_patient_at_time_of_operation'].min()

30

In [17]:
# Exibindo a maior idade
df['Age_of_patient_at_time_of_operation'].max()

83

In [20]:
# Exibindo idades nulas
df[df['Age_of_patient_at_time_of_operation'].isnull()]

Empty DataFrame
Columns: [Age_of_patient_at_time_of_operation, Patients_year_of_operation, Number_of_positive_axillary_nodes_detected, Survival_status]
Index: []

In [22]:
# Exibindo todas as colunas existentes
df.columns

Index(['Age_of_patient_at_time_of_operation', 'Patients_year_of_operation',
       'Number_of_positive_axillary_nodes_detected', 'Survival_status'],
      dtype='object')

In [23]:
# Procurando por dados nulos nas colunas
for coluna in df.columns:
    print(coluna, 'Nulos: ', df[coluna].isnull().sum())

Age_of_patient_at_time_of_operation Nulos:  0
Patients_year_of_operation Nulos:  0
Number_of_positive_axillary_nodes_detected Nulos:  0
Survival_status Nulos:  0